 
<div class="tab-content card" id="myTabContentMD">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    
    <li class="nav-item">
        <a class="nav-link active" id="claimHandlerList-tab" data-toggle="tab" href="#claimHandlerList" role="tab" aria-controls="claimHandlerList"
        aria-selected="true">Billing Manager </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="surveyor-tab" data-toggle="tab" href="#surveyor" role="tab" aria-controls="profile"
        aria-selected="false">Payments </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="productMaster-tab" data-toggle="tab" href="#productMaster" role="tab" aria-controls="productMaster"
        aria-selected="false">Patient Accounts </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="branchMaster-tab" data-toggle="tab" href="#branchMaster" role="tab" aria-controls="branchMaster"
        aria-selected="false">Receivables</a>
    </li>
      
    </ul>
</div>
