<div class="links">
  <ul>
        <li class="nav-item">
            <a class="nav-link"  data-toggle="tab" href="#Feesheet" role="tab"  aria-selected="false">Feesheet </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#BatchChargeEntry" role="tab"  aria-selected="false">Batch Charge Entry </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  data-toggle="tab" href="#ClaimsManager" role="tab"  aria-selected="false">Claims Manager </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  data-toggle="tab" href="#ClaimsHistory" role="tab"  aria-selected="false">Claims History </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Pending" role="tab"  aria-selected="false">Pending Encounter Details </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  data-toggle="tab" href="#Eligibility" role="tab"  aria-selected="false">Eligibility Report </a>
        </li>
        <li class="nav-item active" >
            <a class="nav-link"  data-toggle="tab" href="#Batch" role="tab"  aria-selected="true">Batch </a>
        </li>
    </ul>
</div>
