<table class="table table-striped">
    <thead>
        <tr>Access Health</tr>
      <tr>
        <th scope="col">SlNo</th>
        <th scope="col">Patient Name</th>
        <th scope="col">Claim ID</th>
        <th scope="col">Charge</th>
        <th scope="col">Version</th>
        <th scope="col">Status</th>
        <th scope="col">DOS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Frank Gilbert</td>
        <td>1-28</td>
        <td>100.00</td>
        <td>HCFA02/12-ICD9</td>
        <td>Partially Coded</td>
        <td>26/06/2026</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Frank Gilbert</td>
        <td>1-28</td>
        <td>100.00</td>
        <td>HCFA02/12-ICD9</td>
        <td>Partially Coded</td>
        <td>26/06/2026</td>
      </tr>
    </tbody>
  </table>


  