<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Batch File Name
      </th>
      <th class="th-sm">Batch ID
      </th>
      <th class="th-sm">Insurance
      </th>
      <th class="th-sm">Date
      </th>
      <th class="th-sm">No of Claims
      </th>
      <th class="th-sm">Rejected Claims
      </th>
      <th class="th-sm">Created User
      </th>
      <th class="th-sm">x12 Partner
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let datas of healthcaredatass">
      <app-repeat-table [DataItem]="datas"></app-repeat-table>
    </tr>
  </tbody>
  </table>